h1 {
    color:darkorange;
    font-family: fantasy;
    text-align: center;
    font-size: 100px;
}

table {
    border: 1px solid black;
    width: 100%;
    border-collapse: collapse
}

th, td {
    border: 1px solid black
}

#casellaRicerca {
    width: 98%;
    height: 40px;
    margin: 10px;
    border-radius: 6px;
    gap: 5px;
    text-size-adjust: 100%;
    font-size: 2em;
}

/* html {
    background-color:greenyellow;
} */

.intestazionePaginaCopie {
    width: 100%;
    display: flex;
    justify-content: space-between; /*spinge gli elementi ai lati */
    align-items: center; /*allinea verticalmente */
}